#map {
    width: calc(80% - 8px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    right: 8px;
    /* margin: 1%; */
}

#content {
    width: calc(20% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    left: 8px;
}

#chat-input-div {
    text-align: center;
}
/* #chat-input-box {
    width: 90%;
    height: 5em;
    border: 0;
    border-radius: 7px;
    background-color: rgb(235, 235, 235);
    outline: none;
} */

#textarea {
    display: block;
    width: calc(100% - 20px);
    overflow: hidden;
    resize: both;
    min-height: 10em;
    line-height: 20px;
    text-align: justify;
    border: 0;
    border-radius: 7px;
    background-color: rgb(235, 235, 235);
    outline: none;
    padding: 10px;
  }
  
  /* .textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
  } */